<%= form_with model: model, local: true do |form| %>
  <div class="form__item">
    <%= form.label :body, "Текст вопроса" %>
    <%= form.text_field :body, id: :question_body, class: "form__field" %>
  </div>

  <%= link_to "Вернуться", test_questions_path(@test), class: "button" %>
  <%= form.submit submit_text, class: "button primary" %>
<% end %>

<%= render 'shared/errors', error: @error, resource: @question %>
