<div class="main-page">
  <span>TestGuru</span>
  <span><%= t(".number_of_tests") %> - <%= @tests_count %></span>
  <span><%= t(".number_of_test_categories") %> - <%= @categories_count %></span>

  <%= link_to t(".select_test"), tests_path, class: "button primary" %>
</div>
