<h1><%= t(".all_gists") %></h1>

<% if @gists.any? %>
  <div class="table-responsive mb-5">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th><%= t(".question") %></th>
          <th><%= t(".url") %></th>
          <th><%= t(".user_email") %></th>
        </tr>
      </thead>

      <tbody>
        <%= render @gists %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="mb-5"><%= t(".no_gists") %></p>
<% end %>
