<h1><%= t(".all_gists") %></h1>

<% if @gists.any? %>
  <table class="table table-bordered table-striped table-hover mb-5">
    <thead>
      <tr>
        <th><%= t(".question") %></th>
        <th><%= t(".url") %></th>
        <th><%= t(".user_email") %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @gists %>
    </tbody>
  </table>
<% else %>
  <p class="mb-5"><%= t(".no_gists") %></p>
<% end %>
