<nav class="navbar navbar-expand-lg text-white">
  <div class="container">
    <%= link_to "TestGuru", root_path, class: "navbar-brand text-white" %>

    <% if user_signed_in? %>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to t("common.header.tests"), tests_path, class: "nav-link text-white" %>
          </li>

          <li class="nav-item">
            <%= link_to t("common.header.badges"), badges_path, class: "nav-link text-white" %>
          </li>

          <li class="nav-item">
            <%= link_to t("common.header.feedback"), feedback_path, class: "nav-link text-white" %>
          </li>
        </ul>
      </div>
    <% end %>

    <div>
      <% if user_signed_in? %>
        <span class="me-2">
          <%= t("common.header.login_at", username: "#{current_user.fullname}").html_safe %>
        </span>

        <% if current_user.admin? %>
          <%= link_to admin_tests_path, class: "btn btn-light me-2" do %>
            <i class="bi bi-gear"></i>
          <% end %>
        <% end %>

        <%= link_to t("common.header.logout"), destroy_user_session_path, class: "btn btn-light", method: "delete" %>
      <% else %>
        <%= link_to t("common.header.login"), new_user_session_path, class: "btn btn-light" %>

        <%= link_to t("common.header.register"), new_user_registration_path, class: "btn btn-light" %>
      <% end %>
    </div>
  </div>
</nav>
