    <header>
      <div class="container">
        <a class="logo" href="<%= root_path %>">TestGuru</a>

        <div class="space"></div>

        <div class="auth_block">
        <% if user_signed_in? %>
          <span class="login-at">Вы вошли, как <strong><%= current_user.name %></strong></span>
          <%= link_to "Выйти", destroy_user_session_path, class: "button small", method: "delete" %>
        <% else %>
          <%= link_to "Войти", new_user_session_path, class: "button small" %>
          <%= link_to "Зарегистрироваться", new_user_registration_path, class: "button small" %>
        <% end %>
        </div>
      </div>
    </header>
