<h1><%= answer_header(@answer) %></h1>

<%= form_with model: [@question, @answer], local: true do |form| %>
  <div class="form__item">
    <%= form.label :body, "Текст ответа" %>
    <%= form.text_area :body, id: :answer_body, rows: 10, class: "form__field" %>
  </div>

  <div class="form__item checkbox">
    <%= form.label :correct, "Правильный ответ?" %>
    <%= form.check_box :correct, id: :answer_correct %>
  </div>

  <%= link_to "Вернуться", question_path(@answer.question), class: "button" %>
  <%= form.submit submit_text, class: "button primary" %>
<% end %>

<%= render 'shared/errors', error: @error, resource: @answer %>
