<h1>
  <%= t(".test_completed") %>
  <% if @user_test.time_is_over? && @user_test.current_question.present? %>
    (<%= t(".time_is_over").downcase %>)
  <% end %>
</h1>

<p class="fw-bold">
  <%= t(".progress_bar",
    position: @user_test.current_question.present? ? @user_test.current_question.position - 1 : @user_test.questions_count,
    count: @user_test.questions_count)
  %>
</p>

<%= render 'progress_bar',
  position: @user_test.current_question.present? ? @user_test.current_question.position - 1 : @user_test.questions_count,
  count: @user_test.questions_count,
  test_finished: true
%>

<p class="mb-0 fs-3 lh-1">
  <%= t(".result") %>:
</p>

<div class="mb-5">
  <%= paragraph_for_test_result(@user_test) %>
</div>

<%= link_to t(".back_to_tests"), tests_path, class: "btn btn-primary" %>
