<h1><%= t(".test_completed") %></h1>

<p><strong><%= t(".progress_bar", position: @user_test.questions_count, count: @user_test.questions_count) %></strong>

<%= content_tag :div, class: "tg-progress-bar mb-5" do %>
  <div class="tg-progress"></div>
<% end %>

<p class="mb-0 fs-3 lh-1">
  <%= t(".result") %>:
</p>

<div class="mb-5">
  <%= paragraph_for_test_result(@user_test) %>
</div>

<%= link_to t(".back_to_tests"), tests_path, class: "btn btn-primary" %>
