<h1>
  <%= t(".title", test_title: @user_test.test.title, test_level: @user_test.test.level) %>
</h1>

<p class="fw-bold">
  <%= t(".progress_bar", position: @user_test.current_question.position - 1, count: @user_test.questions_count) %>
</p>

<%= render 'progress_bar',
  position: @user_test.current_question.position,
  count: @user_test.questions_count,
  time_is_over: false
%>

<% unless @user_test.test.time_to_pass.zero? %>
  <%= render 'count_down', initial_seconds_left: time_left(@user_test) %>
<% end %>

<p class="mb-0 fs-5"> <%= t(".question_number", number: @user_test.current_question.position) %>
<p class="mb-5 fs-2"><%= @user_test.current_question.body %></p>

<p><strong><%= t("admin.questions.show.answer_options") %>:</strong></p>

<%= form_with url: users_test_path(@user_test), local: true, method: :put do |form| %>
  <div class="mb-5">
    <%= form.collection_check_boxes :answer_ids, @user_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
      <div class="form-check">
        <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
        <%= b.label class: "form-check-label" %>
      </div>
    <% end %>
  </div>

  <%= form.submit t(".next_question"), id: "btn-next", class: "btn btn-primary me-1" %>
  <%= link_to "#{t('common.save')} Gist", gist_users_test_path(@user_test), method: :post, class: "btn btn-secondary" %>
<% end %>
