<h1>Прохождение теста "<%= @user_test.test.title %>", уроверь сложности <%= @user_test.test.level %></h1>

<p><strong>Вопрос <%= @user_test.current_question.position %> из <%= @user_test.questions_count %>:</strong></p>

<p><%= @user_test.current_question.body %></p>

<p><strong>Варианты ответов:</strong></p>

<%= form_with url: users_test_path(@user_test), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @user_test.current_question.answers, :id, :body, include_hidden: false do |b| %>
    <div class="field checkbox">
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>

      <%= b.label %>
    </div>
  <% end %>

  <%= form.submit "Следующий вопрос", class: "button primary" %>
<% end %>
