<tr>
  <td><%= answer.body %></td>
  <td><%= boolean_readable(answer.correct) %></td>
  <td><%= link_to t("common.view"), admin_answer_path(answer), class: "button small" %></td>
  <td><%= link_to t("common.edit"), edit_admin_answer_path(answer), class: "button primary small" %></td>
  <td><%= link_to t("common.delete"), admin_answer_path(answer), method: :delete, class: "button danger small", data: { confirm: t(".confirm_delete")} %></td>
</tr>
