<h1><%= answer_header(@answer) %></h1>

<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>

  <div class="field">
    <%= form.label :body, t("common.questions.answer_text") %>
    <%= form.text_area :body, id: :answer_body, rows: 10 %>
  </div>

  <div class="field checkbox">
    <%= form.label :correct, "#{t("common.questions.true_answer")}?" %>
    <%= form.check_box :correct, id: :answer_correct %>
  </div>

  <%= link_to t("common.back"), admin_question_path(@answer.question), class: "button" %>
  <%= form.submit submit_text, class: "button primary" %>
<% end %>

