<h1>Просмотр варианта ответа на вопрос "<%= @answer.question.body %>"</h1>

<div class="mb">
  <p>
    <strong>Текст ответа:</strong>
    <%= @answer.body %>
  </p>

  <p>
    <strong>Правильный ответ?</strong>
    <%= boolean_readable(@answer.correct) %>
  </p>
</div>

<%= link_to 'Назад', admin_question_path(@answer.question), class: "button" %>
<%= link_to 'Редактировать', edit_admin_answer_path(@answer), class: "button primary" %>
