<h1><%= question_header(@question) %></h1>

<%= form_with model: [:admin, @test, @question], local: true do |form| %>
  <%= render 'shared/errors', resource: @question %>

  <div class="mb-5">
    <%= form.label :body, t("common.questions.question_text"), class: "form-label" %>
    <%= form.text_field :body, id: :question_body, class: "form-control" %>
  </div>

  <%= link_to t("common.back"), admin_test_path(@question.test), class: "btn btn-secondary" %>
  <%= form.submit submit_text, class: "btn btn-primary" %>
<% end %>
