<tr>
  <td class="text-align-right">
    <%= question.id %>
  </td>
  <td>
    <%= question.body %>
  </td>
  <td>
    <%= link_to t("common.view"), admin_question_path(question), class: "button small" %>
  </td>
  <td>
    <%= link_to t("common.edit"), edit_admin_question_path(question), class: "button primary small" %>
  </td>
  <td>
    <%= link_to t("common.delete"),
                admin_question_path(question),
                method: :delete,
                disabled: question.answers.any?,
                class: "button small danger",
                data: { confirm: t(".confirm_delete") } %>
  </td>
</tr>
