<h1><%= test_header(@test) %></h1>

<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="field">
    <%= form.label :title, t("common.tests.title") %>
    <%= form.text_field :title, id: :test_title %>
  </div>

  <div class="field">
    <%= form.label :level, t("common.tests.level") %>
    <%= form.number_field :level, id: :test_level %>
  </div>

  <div class="field">
    <%= form.label :category, t("common.tests.category") %>
    <%= form.collection_select :category_id, Category.order(:title), :id, :title, {}, { id: :test_category } %>
  </div>

  <%= link_to t("common.back"), admin_tests_path, class: "button" %>
  <%= form.submit submit_text, class: "button primary" %>
<% end %>

