<h1><%= test_header(@test) %></h1>

<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', resource: @test %>

  <div class="mb-3">
    <%= form.label :title, t("common.tests.title"), class: "form-label" %>
    <%= form.text_field :title, id: :test_title, class: "form-control" %>
  </div>

 <div class="mb-3">
    <%= form.label :level, t("common.tests.level"), class: "form-label" %>
    <%= form.number_field :level, id: :test_level, class: "form-control" %>
  </div>

  <div class="mb-5">
    <%= form.label :category, t("common.tests.category"), class: "form-label" %>
    <%= form.collection_select :category, Category.order(:title), :id, :title, { prompt: true, selected: @test.category&.id }, { class: "form-select" } %>
  </div>

  <div class="form-check mb-5">
    <%= form.label :published, "#{t("common.tests.published")}?", class: "form-check-label" %>
    <%= form.check_box :published, id: :test_published, class: "form-check-input" %>
  </div>

  <div class="mb-5">
    <%= form.label :time_to_pass_str, t("common.tests.time_to_pass"), class: "form-label" %>
    <p class="text-small text-gray"><%= t("common.tests.time_to_pass_hint") %></p>

    <%= form.time_field :time_to_pass_str,
      value: time_to_pass_hms(@test),
      step: 1,
      class: "form-control time-select"
    %>
  </div>

  <%= link_to t("common.back"), admin_tests_path, class: "btn btn-secondary" %>
  <%= form.submit submit_text, class: "btn btn-primary" %>
<% end %>

