<tr>
  <td><%= test.id %></td>
  <td><%= test.title %></td>
  <td class="text-align-center"><%= test.level %></td>
  <td><%= test.category.title %></td>
  <td><%= current_user.fullname %></td>
  <td class="text-align-center"><%= test.questions.count %></td>
  <td><%= link_to 'Просмотр', admin_test_path(test), class: "button small" %></td>
  <td><%= link_to 'Редактировать', edit_admin_test_path(test), class: "button primary small" %></td>
  <td><%= link_to 'Удалить',
                  admin_test_path(test),
                  method: :delete,
                  class: "button danger small",
                  data: { confirm: 'Вы действительно хотите удалить тест?' } %>
  </td>
</tr>
