<h1><%= t("common.tests.all_tests") %></h1>

<% if @tests.any? %>
  <table class="table table-bordered table-striped table-hover mb-5">
    <thead>
      <tr>
        <th><%= t("common.id") %></th>
        <th><%= t("common.tests.title") %></th>
        <th class="text-center"><%= t("common.tests.level") %></th>
        <th><%= t("common.tests.category") %></th>
        <th><%= t("common.tests.author") %></th>
        <th class="text-center"><%= t("common.tests.questions_count") %></th>
        <th><%= t("common.actions") %></th>
      </tr>
    </thead>

    <tbody>
      <%= render @tests %>
    </tbody>
  </table>
<% else %>
  <p class="mb-5"><%= t("common.tests.no_tests") %></p>
<% end %>

<br>

<%= link_to t(".create_test"), new_admin_test_path, class: "btn btn-success" %>
