<h1><%= t(".title", test_title: @test.title) %></h1>

<div class="mb-5">
  <p>
    <strong><%= t("common.tests.level") %>:</strong>
    <%= @test.level %>
  </p>

  <p>
    <strong><%= t("common.tests.questions_count") %>:</strong>
    <%= @test.questions.count %>
  </p>

  <p>
    <strong><%= t("common.tests.level") %>:</strong>
    <%= @test.category.title %>
  </p>

  <p>
    <strong><%= t("common.tests.author") %>:</strong>
    <%= @test.author.fullname %>
  </p>

  <p>
    <strong><%= t("common.tests.published") %>:</strong>
    <%= boolean_readable(@test.published) %>
  </p>

  <%= link_to t("common.edit"), edit_admin_test_path(@test), class: "btn btn-primary" %>
</div>

<h2><%= t(".questions") %></h2>

<% if @test.questions.any? %>
  <div class="table-responsive mb-5">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th class="text-align-right">
            <%= t("common.id") %>
          </th>
          <th>
            <%= t("common.questions.question_text") %>
          </th>
          <th>
            <%= t("common.actions") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: 'admin/questions/question', collection: @test.questions %>
      </tbody>
    </table>
  </div>
<% else %>
<p class="mb-5"><%= t(".no_questions") %></p>
<% end %>

<%= link_to t(".add_question"), new_admin_test_question_path(@test), class: "btn btn-success" %>
<%= link_to t("common.back"), admin_tests_path, class: "btn btn-secondary" %>


