<h1>Все тесты</h1>

<% if @tests.any? %>
<table class="mb">
  <thead>
    <tr>
      <th>ID</th>
      <th>Название</th>
      <th class="text-align-center">Уровень сложности</th>
      <th>Категория</th>
      <th>Автор</th>
      <th class="text-align-center">Количество вопросов</th>
      <th colspan="3" class="text-align-center">Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.id %></td>
        <td><%= test.title %></td>
        <td class="text-align-center"><%= test.level %></td>
        <td><%= test.category.title %></td>
        <td><%= test.author.name %></td>
        <td class="text-align-center"><%= test.questions.length %></td>
        <td><%= link_to 'Просмотр', test, class: "button small" %></td>
        <td><%= link_to 'Редактировать', edit_test_path(test), class: "button primary small" %></td>
        <td><%= link_to 'Удалить',
                        test,
                        method: :delete,
                        class: "button danger small",
                        data: { confirm: 'Вы действительно хотите удалить тест?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p class="mb">Ещё не создан ни один тест</p>
<% end %>

<br>

<%= link_to 'Создать тест', new_test_path, class: "button success" %>
