<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru - панель администратора</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash_block %>

    <%= render 'admin/shared/header' %>

    <section class="min-vh-100 pt-5 pb-5">
      <div class="container">
        <%= yield %>
      </div>
    </section>

    <%= render 'admin/shared/footer' %>
  </body>
</html>
